<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{wallet.balance}}{{wallet.user_id}}</h1>
     <img src="{{transaction.profilepicture.url}}" alt="">
    <h2>{{transaction.transaction_code}}</h2>
    <h3>{{transaction.transaction_number}}</h3>
    <h4>{{transaction.transaction_type}}</h4>
</body>
</html>


